.DS_STORE# =========================
# macOS
# =========================
.DS_Store
.DS_Store?
*/.DS_Store

# =========================
# Archivos temporales
# =========================
*.log
*.tmp
*.swp

# =========================
# Carpetas del sistema
# =========================
__MACOSX/

# =========================
# Archivos de respaldo
# =========================
*~
